<VirtualHost *:80>
    ServerAdmin webmaster@monsite.com
    ServerName monsite.com
    DocumentRoot /var/www/monsite
    ErrorLog ${APACHE_LOG_DIR}/monsite_error.log
    CustomLog ${APACHE_LOG_DIR}/monsite_access.log combined
</VirtualHost>